.analyseButtons{
    margin-left: 10px;
    margin-top: 10px;
}


#analyse:hover {
    outline: 1px solid gold;
    box-shadow: 0px 0px 20px gold;
    animation: hue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}
#complexityChart {
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 40vw; /* Adjust the percentage or set a fixed width */
    height: 70vh; /* Fixed height */
}