* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    color: rgba(255, 255, 255, 0.866);
}
.top_codeit {
    font-size: xxx-large;
    display: flex;
}
::selection{
    background-color: rgba(0, 255, 255, 0.263);
    color: black;
}

#code {
    background: linear-gradient(to right, goldenrod, rgb(0, 141, 141));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: hue;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.typewriter p {
    letter-spacing: .01em;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    border-right: .01em solid pink;
    animation: typing 5.5s steps(30, end) infinite, blinking-cursor 1s step-end infinite;
  }
  
  @keyframes typing {
    0% {
        margin-left: 0.5ch;
      width: 0;
    }
    60% {
        margin-left: 0.5ch;
      width: 31ch;
    }
    75%{
        margin-left: 0.5ch;
        width:31ch
    }
    100%{
        margin-left: 0.5ch;
        width: 0%;
    }
  }
  
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: rgb(255, 255, 255);
    }
}
@keyframes borderAnimation {
    0% {
        border-color: red;
    }
    25% {
        border-color: orange;
    }
    50% {
        border-color: yellow;
    }
    75% {
        border-color: green;
    }
    100% {
        border-color: red;
    }
}
.top{
    background-color: #3333337b;
    padding: 10px 7px 10px 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position:fixed;
    bottom: 10px;
    right: 10px;
    backdrop-filter: blur(7px);
    box-shadow: 5px 5px 10px black;
    z-index: 50;
    
}
#top{
    opacity: 0;
    transition-duration: 0.3s;
}
.top img{
    height: 20px;
}

.preview{
    width: 40vw;
    margin: 60px;
    transition-duration: 0.3s;
    border-radius: 10px;
    z-index: 0;
    box-shadow: 0 0 10px black;
}
.preview:hover{
    scale: 1.03;
}

#flowchart{
    box-shadow: none;
    width: 45vw;
    margin-left: -2.5vw;
    -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}
#obfuscatePreview{
    margin-top: 10px;
}

#zoom{
    max-width: calc(50vw - 80px);
    max-height: 330px;
    overflow: hidden;
    border-radius: 10px;
    transition-duration: 0.5s;
}
#zoom:hover{
    box-shadow: 0 0 10px black;
}
#zoom:hover img{
    scale:3;
}
.section-l{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
}
.section-r{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
}
#intro{
    margin-top: 100px;
}
.left{
    max-width: calc(50vw - 120px);
}
.right{
    max-width: calc(50vw - 120px);
}

.right p{
    margin-left: 100px;
}
#scroll_icon{
    position: fixed;
    background-color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding:4px;
    border-radius: 8px;
    border: 2px solid red; /* Initial border color */
    bottom: 25px;
    left: 50vw;
    transform: translate(-50%);
    font-size: small;
    color: black;
    animation: borderAnimation 3s linear infinite; 
}

.shadow{
    height: 20px;
    width: 180px;
    background-image: linear-gradient(115deg, #00000000,rgba(30,30,30, 0.888),rgba(30,30,30, 0.888),#00000000);
    position: absolute;
    margin-top: -20px;
    animation-name: wave;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
}
@keyframes wave{
    0%{
        margin-left: -180px;
    }
    100%{
        margin-left: 7rem;
    }
}
#refine{
    margin-top: 20vh;
}
.heading{
    border-radius: 10px;
    padding: 5px;
    font-size: xx-large;
    background-color: rgba(228, 175, 0, 0.514);
    display: block;
    max-width: fit-content;
    padding: 2px 5px 0px 5px;
}
.subheading{
    border-radius: 8px;
    padding: 8px;
    background-color: rgba(0, 198, 228, 0.463);
    display: inline-block;
    font-size: x-large;
    margin-top: 10px;
}
.text{
    margin-top: 10px;
    font-size: larger;
    line-height: 25px;
}
#obfuscate{
    margin-top: 10vh;
}
#nomenclature{
    margin-top: 10vh;
}
#complexity{
    margin-top: 10vh;
}
#working{
    margin-top: 10vh;
}

#contributeSection{
    margin-top: 100px;
}
.contributeBtn{
    text-decoration: none;
    width:min-content;
    margin-top: 30px;
    margin-left: 100px;
    background-color: #00000000;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-family: consolas;
    display: flex;
    padding: 12px 10px 5px 10px;
    transition-duration: 0.3s;
}
#github{
    height: 28px;
    margin: 5px;
    margin-top: -3px;
    filter: invert(1);
    transition-duration: 0.3s;
}

.contributeBtn:hover{
    background-color: white;
    color: black;
}
.contributeBtn:hover #github{
    filter: invert(0);
}

.design_line {
    height: 1px;
    width: 50vw;
    margin-left: calc(50vw + 15px);
    transform: translate(-50%);
    margin-bottom: 20px;
    margin-top: 50px;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0),rgb(255, 255, 255),rgba(0, 0, 0, 0));
}


footer {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
}
.left_last{
    display: flex;
    flex-direction: row;
}
#last_link{
    background-color: #00000000;
    margin-top:16px;
    margin-left: 150px;
}
form {
    background-color: #4c4c4c2a;
    backdrop-filter: blur(7px);
    width: 30vw;
    margin-left: 5vw;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

input {
    padding-left: 10px;
    color: white;
    background-color: #76767639;
    border: 0.1px solid rgba(255, 255, 255, 0.193);
    width: calc(100% - 10px);
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
}

#send {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    margin-left: 100%;
    margin-top: 20px;
    transform: translate(calc(-100% - 0px));
    width: min-content;
    background-color: #248e87;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.63);
    transition-duration: 0.3s;
}

#send:hover{
    color: black;
    background-color: rgba(0, 240, 236, 0.715);
    box-shadow: 0px 0px 10px cyan;
}

.contact {
    width: 40vw;
}

.end-logo {
    position: absolute;
    height: 40px;
    margin-top: 13px;
    margin-left: 100px;
}

.name {
    display: flex;
}

.links {
    background-color: #12121200;
    height: max-content;
    text-align: center;
}

.links a {
    color: rgba(255, 255, 255, 0.433);
}
.links p {
    color: rgba(255, 255, 255, 0.433);
}
.last{
    padding: 10px;
}
.last p{
    text-align: center;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
}

#map {
    width: 45vw;
    margin-left: 30px;
    margin-top: -30px;
    height: 70vh;
    transition: 0.5s ease;
    filter: invert(1) hue-rotate(180deg) brightness(1.5);
    border-radius: 7px;
}
/*=====================hiding map watermark=================*/
.leaflet-control-attribution {
    display: none !important;
}


@media screen and (max-width: 830px) {
    #map{
        margin-left: 0px;
        width: calc(100vw - 40px);
        height: 30vh;
        margin-top: 20px;
    }
    .section-r{
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    }
    .section-l{
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column-reverse;
    }
    #intro{
        flex-direction: column;
    }
    #scroll_icon{
        bottom: 10px;
    }
    .left{
        max-width: calc(100vw - 40px);
    }
    .right{
        max-width: calc(100vw - 40px);
    }
    .right p{
        margin-left: 0px;
    }
    .preview{
        width: calc(100vw - 40px);
        margin: 0px;
        margin-top: 20px;
    }
    #flowchart{
        width: calc(100vw - 40px);
        margin: 0px;
    }
    #zoom{
        margin-top: 30px;
        max-width: calc(100vw - 40px);
    }
    #intro{
        margin-top: 20px;
    }
    .top_codeit{
        font-size: xx-large;
    }
    .typewriter{
        font-size: small;
    }
    .heading{
        font-size: x-large;
    }
    .subheading{
        font-size: large;
    }
    .text{
        font-size: 15px;
        line-height: 20px;
    }
    #contributeSection{
        margin-top: 50px;
    }
    .contributeBtn{
        font-size: 15px;
        margin-left: 50%;
        transform: translate(-50%);
    }
    #github{
        height:20px;
    }
    .left_last{
        flex-direction: column;
    }
    form{
        width: calc(100vw - 90px);
        margin-top: 40px;
    }
    .links{
        margin-top: 10px;
    }
}