* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: "Sometype Mono", monospace;
    background-color: rgba(0, 0, 0, 0.888);
    transition-duration: 0.5s;
}

.top-elements {
    background-color: #00000000;
    backdrop-filter: blur(5px);
    position: sticky;
    top:0px;
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 10px black;
    width: 100vw;
    z-index: 100;
}
.gap{
    width: 80px;
}

.top-link {
    display: flex;
    color: rgb(124, 124, 124);
    text-decoration: none;
}

.top-link p {
    margin-left: 0px;
    margin-top: 19px;
    font-size: 20px;
    margin-right: 30px;
}
.navbar-container {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of table cells */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for touch devices */
}

#navbar_table{
    margin-top: 15px;
    border: 1px solid rgba(124, 124, 124);
    border-radius: 20px;
    display: inline-table; /* Ensures table is displayed inline for scrolling */
    min-width: 100%;
}

.navbar{
    display: inline-block;
    overflow: hidden; /* Ensures content does not overflow the navbar */
}
.highlight {
    position: absolute;
    height: 28px;
    margin-top: 16px;
    width: 0;
    background-color: #787878;
    transition: all 0.4s ease;
    z-index: -2;
    border-radius: 30px;
    top: 0;
    left: 0;
}
.nav-item {
    position: relative; /* Positions the cell relative to the table */
}
.nav-item a{
    mix-blend-mode: difference; /* This inverts the text color */
}
td {
    color: rgb(124, 124, 124);
    padding: 5px 20px 5px 20px;
    transition-duration: 0.5s;
    border-radius: 20px;
}

td a {
    text-decoration: none;
    color: rgb(121, 121, 121);
}
#current{
    background-color: #787878;
}

.navbar-container:hover #current{
    background-color: #00000000;
}

.options {
    width: calc(100vw);
    display: flex;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.327);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(96, 96, 96, 0.693);
    border-radius: 10px;
}

.logo {
    height: 40px;
    margin: 10px;
    transition-duration: 0.5s;
}

#fileForm {
    margin-left: 5px;
    margin-top: 10px;
}

.names {
    background-color: #00000000;
    border: none;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
    margin: 5px;
    font-size: 1rem;
    padding: 5px;
    width: 30vw;
    color: rgba(255, 255, 255, 0.886);
    transition-duration: 0.2s;
}

#directory {
    width: 10vw;
}

select {
    background-color: #00000000;
    color: grey;
    border: none;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
    margin: 5px;
    font-size: 1rem;
    padding: 5px;
    cursor: grab;
    transition-duration: 0.2s;
}

.btn {
    background-color: #00000000;
    color: grey;
    border: none;
    box-shadow: 0px 0px 10px black;
    border-radius: 3px;
    margin: 5px;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.code {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.codes {
    font-size: 1rem;
    resize: horizontal;
    min-height: 70vh;
    margin: 10px;
    background-color: #00000000;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
}
#time_code{
    color: rgba(0, 255, 204, 0.619);
    width: 40vw;
}
#complexityChart{
    width: calc(60% - 10px)
}

#input_code {
    color: rgba(255, 170, 0, 0.756);
    width: 50vw;
}

#output_code {
    color: rgba(0, 255, 204, 0.619);
    resize: none;
}

textarea {
    font-family: "Sometype Mono", monospace;
    color: rgba(255, 255, 255, 0.866);
}

input:focus {
    outline: none;
}

#name:hover {
    box-shadow: 0px 0px 0px black;
    background-color: #00000000;
}

#language:hover {
    box-shadow: 0px 0px 0px black;
}

.btn:hover {
    box-shadow: 0px 0px 0px black;
}

textarea:focus {
    outline: none;
}

#result {
    color: grey;
    margin-left: 10px;
}

option {
    background-color: rgba(0, 0, 0, 0.888);
}

#theme {
    z-index: 105;
    top: 20px;
    right: 20px;
    position: fixed;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

#themeLogo {
    transition-duration: 0.5s;
    height: 30px;
    filter: invert(1);
}

.container {
    margin-left: 10px;
    display: flex;
    margin-top: 10px;
}

.copy {
    height: 25px;
    filter: invert(1);
}

#submit {
    background-color: #00000000;
    border: none;
    cursor: pointer;
}

#run:hover {
    outline: 1px solid gold;
    box-shadow: 0px 0px 20px gold;
    animation: hue;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.mistakes {
    margin-left: 50vw;
    text-align: center;
    width: 90%;
    transform: translate(-50%);
    color: grey;
    font-size: 14px;
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.footer_logo {
    border: none;
    background-color: #00000000;
}

.footer_logo img {
    margin-right: 10px;
    height: 20px;
    filter: invert(1);
}

#link {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.links {
    display: flex;
}

#copy {
    animation-name: blink;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
    animation-play-state: paused;
}

@keyframes blink {
    0% {
        box-shadow: 0 0 0px white;
    }

    50% {
        box-shadow: 0 0 20px white;
        outline: 1px solid white;
    }

    100% {
        box-shadow: 0 0 0px white;
    }
}

.buttons {
    display: flex;
    margin-left: 10px;
    width: fit-content;
    margin-top: 10px;
    height: fit-content;
}

.revisit {
    margin-top: 20px;
    margin-left: 20px;
    color: grey;
    margin-bottom: 10px;
}

.checkmark {
    margin-left: -17px;
    position: absolute;
    height: 19px;
    width: 19px;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 0 5px black;
}

.revisit:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.revisit input:checked~.checkmark {
    background-color: red;
}

@media screen and (max-width: 830px) {
    .top-elements {
        width: calc(100vw - 0px);
        flex-direction: column;
    }

    #navbar_table {
        margin-top: 5px;
        width: 100%;
        margin-left: 10px;
        overflow-x: scroll;
    }

    td {
        white-space: nowrap;
    }

    #name {
        width: calc(50vw - 0px)
    }

    #directory {
        width: calc(100vw - 40px)
    }

    #language {
        width: calc(50vw - 60px);
    }

    #run {
        width: calc(50vw - 50px)
    }

    #copy {
        width: calc(50vw - 90px)
    }

    #fileForm {
        margin-left: 10px;
    }

    .code {
        flex-direction: column;
    }

    #input_code {
        width: calc(100vw - 20px)
    }
    #time_code{
        width: calc(100vw - 20px)
    }
    #complexityChart{
        width: calc(100% - 20px)
    }

    #ouput_code {
        width: calc(100vw - 20px)
    }

    .codes {
        min-height: 25vh;
    }

    footer {
        flex-direction: column;
    }

    .options {
        flex-direction: column;
    }

    .container {
        margin-left: 10px;
    }
}
